{% load i18n %}
{% load bootstrap3 %}

<div class="form-horizontal square-container">
    <div class="square-errors sr-only">

    </div>
    <noscript>
        <div class="alert alert-warning">
            {% trans "For a credit card payment, please turn on JavaScript." %}
        </div>
    </noscript>

    <!-- Create the form for the billing information for 3DS / SCA -->
    <p>
        {% blocktrans trimmed %}
        Please enter your billing information.
        {% endblocktrans %}
    </p>

    {% bootstrap_form form form_group_class="p-2" %}

    <br />

    <div id="square-card-elements">
        <div id="square-card">
            <span class="fa fa-spinner fa-spin"></span>
        </div>
    </div>


    <p class="help-block">
        {% blocktrans trimmed %}
        Your payment will be processed by Square, Inc. Your credit card data will be transmitted directly to
        Square and never touches our servers.
        {% endblocktrans %}
        <input type="hidden" name="square_card_total" value="{{ total }}" id="square_card_total" />
        <input type="hidden" name="square_card_idempotency_token" id="square_card_idempotency_token" />
        <input type="hidden" name="square_card_location_id" id="square_card_location_id" />
        <input type="hidden" name="square_card_source_id" id="square_card_source_id" />
        <input type="hidden" name="square_card_brand" id="square_card_brand" />
        <input type="hidden" name="square_card_last4" id="square_card_last4" />
        <input type="hidden" name="square_card_verification" id="square_card_verification" />
        <input type="hidden" id="square_card_currency" value="{{ event.currency }}" />
    </p>
</div>